
/* shared style */
.dark-2{
    color: rgba(137, 135, 161, 1);
}
.dark-1{
    color: rgba(37, 36, 50, 1);
}
.dark-3{
    color: rgba(0, 0, 0, 0.5);
}
.orange{
    color: rgba(233, 90, 8, 1);
}
.btn{
    background-color: rgba(233, 90, 8, 1);
    border: none;
    color: white;
    padding: 10px 30px;
    font-size: 20px;
}
/* navbar */
.logo{
    display: flex;
    align-items: center;
}
nav a{
    text-decoration: none;
}
nav li{
    list-style: none;
    padding: 0 22px;
}
nav ul{
    display: flex;
}
.navbar{
    max-width: 1140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 20px;
}
/* banner */
.title{
    font-size: 65px;
    font-weight: bold;
}
.Hero{
    display: flex;
    max-width: 1140px;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 60px;
    
}
/* main */
.plant-head p{
    margin-top: -20px;
}
.plants{
    max-width: 1140px;
    text-align: center;
    margin: 0 auto;
}
.main-title{
    font-size: 50px;
    font-weight: bold;
}
.card-college{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 15px;
}
.card{
    font-size: 1.25rem;
}
.usd{
    font-weight: bold;
    font-size: 22px;
}
.card img{
    width: 100%;
}
.flower{
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 150px;
    display: flex;
}
#bedge{
    position: absolute;
    width: 286px;
    height: 286px;
    margin-left:-180px;
    margin-top: -140px;
}
.flower-descp{
    margin-left: 60px;
}
.descp{
    height: 100px;
    width: 540px;
    margin-top: 10px;
    font-size: 22px;
}
.Bunch{
    background-image: url("assets/news-letter-bg.png");
    height: 540px;
    width: 1440px;
    background-repeat: no-repeat;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
}
.b-title{
    font-size: 50px;
    color: white;
    padding-top: 200px;
}
.email{
    display: flex;
    border: none;
    justify-content: center;
}
/* responsive */
@media screen and (max-width:570px) {
    .Hero, nav ul{
        flex-direction: column;
    }
    .h{
        display: none;
    }
    .Hero img{
        max-width: 390px;
    }
    .Hero .title{
        font-size: 24px;
        font-weight: bold;
    }
    .Hero{
        flex-direction: column-reverse;
    }
    .card-college{
        grid-template-columns: repeat(2, 1fr);
        padding: 20px;
    }
    .card button{
        font-size: 16px;
    }

}